@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #f6f5f5;
  margin: 0px;
  padding: px;
  font-family: 'Montserrat';
}

ul {
  list-style: none;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  font-family: 'Montserrat';
}

section {
  width: 100%;
  height: 95vh;
  background-image: url("files/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Montserrat';
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
	font-family: 'Montserrat';
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 30px;
font-family: 'Montserrat';
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}

.logo {
font-family: 'Montserrat';
  color: #000000;
  font-size: 22px;
}

.active {
  font-weight: bold;
  color: #2d2a2a;
}

.text p:nth-child(1) {
font-family: 'Montserrat';
  font-weight: bold;
  color: #6d6d6d;
  font-size: 22px;
}

.text p:nth-child(2) {
font-family: 'Montserrat';
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 60px;
}

.text p:nth-child(3) {
font-family: 'Montserrat';
  color: #403e3e;
  font-size: 30px;
}

.text p {
  margin: 45px 0px 25px;
  line-height: 0px;
}

.text {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}

.model {
  height: 530px;
  position: absolute;
  bottom: 40px;
  left: 75%;
  transform: translateX(-75%);
}

.about-section {
  width: 80%;
  height: 330px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.about-section img {
  height: 250px;
}

.about-text-section {
  width: 250 px;
}

.about-text-section p:nth-child(1) {
  color: #403e3e;
font-family: 'Montserrat';
  font-weight: bold;
  font: size 23px;
  line-height: 0px;
}

.about-text-section p:nth-child(2) {
  color: #3e3d3d;
  font-size: 13px;
font-family: 'Montserrat';
  font-weight: bold;
  line-height: 5px;
}

.about-text-section p:nth-child(3),
.about-text-section p:nth-child(4) {
  color: #7e7d7d;
font-family: 'Montserrat';
  font-size: 16px;
}

.Achievements {
  height: 600px;
  background-color: #ffffff;
  padding: 2% 10% 0px 10%;
}
.Achievements-text p:nth-child(1) {
font-family: 'Montserrat';
  font-weight: bold;
  color: #1d1c1c;
  font-size: 30px;
  line-height: 0px;
}
.Achievements-text p:nth-child(2) {
font-family: 'Montserrat';
  font-weight: bold;
  color: #3e3d3d;
  font-size: 15px;
  line-height: 5px;
}
.Achievements-text p:nth-child(3) {
font-family: 'Montserrat';
  color: #7e7d7d;
}
.Achievements-text {
  width: 500px;
  margin: 50px 0px;
}

.box-container {
  display: flex;
  justify-content: space-between;
}
.box-1 {
  width: 300px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 4px;
}
.box-2 {
  width: 300px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 4px;
}
.box-3 {
  width: 300px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 4px;
}

.box-1 {
  background-color: #1d1c1c;
}
.box-2 {
  background-color: #1d1c1c;
}
.box-3 {
  background-color: #1d1c1c;
}
.box-1 span,
.box-2 span,
.box-3 span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
font-family: 'Montserrat';
  font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2) {
  color: #ffffff;
font-family: 'Montserrat';
  font-size: 23px;
  line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
font-family: 'Montserrat';
  color: #8f8f8f;
  text-align: center;
  width: 230px;
  margin: 0px 0px 20px 0px;
}

.contact-me {
  width: 100%;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1d1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}
.contact-me p {
  color: #ffffff;
  font-size: 30px;
font-family: 'Montserrat';
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}
.contact-me button {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
font-family: 'Montserrat';
}
